@use "../../styles/partials/mixins.scss";
@use "../../styles/partials/typography.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.results {
  //   border: 1px solid red;
  padding: 0 1.75rem;
  //   margin-top: 3.6875rem;

  &__title {
    font-size: 1.625rem;
    font-weight: 300;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    color: $text-colour;
  }

  &__description {
    font-size: 0.9375rem;
    margin: 0;
    margin-bottom: 1.5rem;
    color: #757575;
    font-weight: 300;
  }
}
