@font-face {
  font-family: "Mylius Modern";
  src: url("../../assets/fonts/MyliusModern-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Mylius Modern";
  src: url("../../assets/fonts/MyliusModern-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Mylius Modern";
  src: url("../../assets/fonts/MyliusModern-Bold.ttf");
  font-family: 700;
}

* {
  font-family: "Mylius Modern";
}
