@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.flight-duration {
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 1.25rem;
    margin: 0;
    margin-bottom: 1rem;
  }

  &__button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
  }

  &__button {
    @include pill;
    :active {
      background-color: blue;
    }
  }
}
